<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Persona login sample</title>
  </head>
  <body>
    {{{body}}}
  </body>
  <script type="text/javascript" src="https://login.persona.org/include.js"></script>
</html>